<ion-view title="Camera Tab Default Page" id="page2">
    <ion-content padding="true" class="has-header">
        <h1 id="cameraTabDefaultPage-heading1" style="color:#000000;">{{currentTime? currentTime : 'Here goes nothing'}}</h1>
        <button id="cameraTabDefaultPage-button1" class="button button-positive  button-block" ng-click="getTime()">Get Time</button>

        <ion-list>
            <ion-item> <a href="http://localhost:8080/">Google Authentication</a> </ion-item>
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-item class="item-thumbnail-left">
                <img src="img/n2KGfN78TsunAkKxAJuV_cat.jpg">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>