<ion-view title="Transit Options" id="page6">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item>Dad's Car</ion-item>
            <ion-item>Mom's Car</ion-item>
            <ion-item>Tim's Bike</ion-item>
            <ion-item>Uber</ion-item>
            <ion-item>Public Transport</ion-item>
            <ion-item>Walk</ion-item>
        </ion-list>
        <button id="transitOptions-button8" class="button button-positive  button-block">Add</button>
    </ion-content>
</ion-view>