<ion-view title="User Configuration" id="page5">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div>
                <a style="display:block;" href="tel:">
                    <img src="img/mQJxl90STy225fdGR77t_placeholder_person.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
            <button id="userConfiguration-button7" class="button button-positive  button-block">Change Picture</button>
            <div class="spacer" style="width: 300px; height: 45px;"></div>
            <ion-item class="item-divider">Transit Options</ion-item>
            <label class="item item-select">
                <span class="input-label">Primary</span>
                <select>
                    <option>Car</option>
                    <option>Walk</option>
                    <option>Uber</option>
                    <option>Public Transport</option>
                    <option>Bike</option>
                </select>
            </label>
            <label class="item item-select">
                <span class="input-label">Secondary</span>
                <select>
                    <option>Car</option>
                    <option>Walk</option>
                    <option>Uber</option>
                    <option>Public Transport</option>
                    <option>Bike</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>