<ion-view title="Users" id="page2">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item ng-class="['item-thumbnail-left',localIdentifier === key ? 'highlighted' : '']" ng-repeat="(key, value) in users" ng-click="editUser(key)">
                <img ng-src="{{value.picture}}">
                <h2>{{value.name}}</h2>
                <p>{{value.email}}</p>
                <p>{{key}}</p>
                <a ng-click="deleteUser(key); $event.stopPropagation();">Delete User</a>
            </ion-item>
        </ion-list>
        
        <a id="users-button1" class="button button-positive  button-block" ng-click="newUser()">Create New User</a>
        <div id="device_key">Device Key: </div>
    </ion-content>
</ion-view>